# credentials.env
export TF_VAR_nextcloud_mariadb_root_password=''
export TF_VAR_nextcloud_mariadb_password=''
export wordpress_mariadb_root_password=''
export wordpress_mariadb_password=''
export DIGITALOCEAN_TOKEN=''
export KUBECONFIG=~/.kube/config
export admin_email=''
export default_user=''
export default_user_password=''